{% extends 'meetups/base.html'%}
{%block title%}Home {%endblock%}
{%block speaker%}{%endblock%}
{%block general_form%}{%endblock%}
{%block upcoming%}{%endblock%}
{%block meetups%}


<section class="speakers section-padding" id="section_3">
    <div class="container">
        <div class="row">
            <div class="navbar-nav">
                <div class="nav-item">
            <form action="" method="GET">
                <div class="input-group w-50">
                <input  name="q" type="text"  class="form-control " placeholder="search..."/>
              <input value="search"  class="btn btn-outline-primary" type="submit"/>
  
            
        </div>
    </form>

        <div class="nav-item">
          <a href="{%url 'home'%}" class="btn btn-success"> All</a>
        </div>
    </div>
    </div>
           
            {%for meetup in meetups%}
            <div class="col-lg-3 col-md-6 col-12">
                <div class="speakers-thumb speakers-thumb-small  ">
                    <img src={{meetup.image.url}} class="img-fluid speakers-image" style="width:260px; height:220px; object-fit:cover" alt="">

                    <div class="speakers-info">
                        <h5 class="speakers-title mb-0">{{meetup.title}}</h5>

                        <p class="speakers-text mb-0">{{meetup.description| truncatewords:6}}</p>

                        <ul class="social-icon">
                            <li><a href="#" class="social-icon-link bi-facebook"></a></li>

                            <li><a href="#" class="social-icon-link bi-instagram"></a></li>
                        </ul>
                    </div>
                    
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">
                            Created : {{meetup.create | timesince}} ago
                        </div>
                        <div class="card-text">
                            <a href="{%url 'meetup-details' meetup.id%}" class="btn btn-outline-primary">Learn more</a>
                        </div>
                    </div>
                </div>
              
            </div>
            {%endfor%}                
                            
              </div>
              </div>    
            </section>

{%endblock%}
{% block meetup_details%} {%endblock%}