{% extends 'meetups/base.html'%}
{%block title%}Register{%endblock%}
{%block speaker%}{%endblock%}
{%block general_form%}{%endblock%}
{%block upcoming%}{%endblock%}
{%block video%}{%endblock%}
{%block meetups%}


<section class="speakers section-padding" id="section_3">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
            <h2 class="text-primary">Login</h2>
<form action="" method="POST">
{% csrf_token%}
<label class="label-control"> Email</label>
<input class="form-control" type="email" placeholder="Enter your email" name="email"/>
<label class="label-control"> Password</label>
<input class="form-control" type="password" name="password"/>

<button class="btn btn-primary mt-4" type="submit">Login</button>

</form>             
                            
              </div>
              </div>   
            </div> 
            </section>

{%endblock%}
{% block meetup_details%} {%endblock%}