<nav class="navbar navbar-expand-lg">
    <div class="container">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a href="{%url 'home'%}" class="navbar-brand mx-auto mx-lg-0">
            <i class="bi-bullseye brand-logo"></i>
            <span class="brand-text">Meetup<br> Event</span>
        </a>

        <a class="nav-link custom-btn btn d-lg-none" href="#">Buy Tickets</a>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link " href="{%url 'home'%}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="{%url 'meetup-create'%}">Add meetup</a>
                </li>


               <!-- <li class="nav-item">
                    <a class="nav-link click-scroll" href="#section_2">About</a>
                </li>-->

               

                <li class="nav-item">
                    <a class="nav-link click-scroll" href="#section_7">Contact</a>
                </li>
               
                 {%if request.user.is_authenticated%}
                 <li class="nav-item">
                    <a class="nav-link" href="{% url 'user-speakers' request.user.id%}">Speakers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="{%url 'logout'%}">Logout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link custom-btn btn d-none d-lg-block" href="{%url 'user-meetups' request.user.id%}">My Meetups</a>
                </li>
                <!--<li class="nav-item">
                    <a class="nav-link custom-btn btn d-none d-lg-block" href="#">Profile</a>
                </li>-->
                <li class="nav-item">
                    <a class="nav-link custom-btn btn d-none d-lg-block" href="{%url 'profile' request.user.id%}">Welcome! {{request.user.username}}</a>
                </li>
                {%else%}
                <li class="nav-item">
                    <a class="nav-link " href="{%url 'register'%}">Register</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link " href="{%url 'login'%}">Login</a>
                </li>
                {%endif%}

            </ul>
        <div>
                
    </div>
</nav>
